<div class="m-4">
  <h2>Selamat Datang di Puskesmas Kalumata</h2>
  <p>
    Kelola data pasien, pantau aktivitas pelayanan, dan akses laporan kesehatan
    dengan mudah dan cepat.
  </p>

  <div class="bg-white p-4 mt-4">
    <div class="flex flex-column gap-3">
      <h3>Grafik Total Pasien</h3>
      <div class="flex flex-row justify-content-between align-items-center gap-6">
        <p>
          Analisis jumlah pasien berdasarkan periode waktu yang dipilih (Hari
          Ini, Kemarin, 7 Hari Terakhir, 30 Hari Terakhir)
        </p>

        <p-dropdown
          [options]="dateDropdown"
          [(ngModel)]="selectedDateDrpdown"
          optionLabel="name"
          placeholder="Select Date"
          (onChange)="checkData()"
        />
      </div>
    </div>

    <div class="mt-4">
      <p-tabView>
        <p-tabPanel *ngFor="let tab of tabs" [header]="tab.title">
          <div class="mt-4">
            <p>
              {{ tab.content }}
            </p>
            <div class="mt-4 flex flex-row gap-4">
              <div
                class="flex flex-column gap-3 shadow-3 border-round- border-1 border-gray-400 xl p-4"
              >
                <h4>Total Pasien</h4>
                <p>32</p>
                <p>+10% dari 7 hari sebelumnya</p>
              </div>
              <div
                class="flex flex-column gap-3 shadow-3 border-round- border-1 border-gray-400 xl p-4"
              >
                <h4>Total Kunjungan</h4>
                <p>64</p>
                <p>+10% dari 7 hari sebelumnya</p>
              </div>
            </div>

            <div class="mt-4">
              <p-chart type="line" [data]="data" [options]="options" />
            </div>
          </div>
        </p-tabPanel>
      </p-tabView>
    </div>
  </div>
</div>
