<div
  class="flex h-screen align-items-center justify-content-center flex-column container"
>
  <h3>Login Puskemas Klumata</h3>
  <form [formGroup]="loginReqDto" (ngSubmit)="onLogin()">
    <!-- email -->
    <div class="my-3 grid align-items-center gy-md-2">
      <div class="col-12">
        <label for="username" class="form-label">Username</label>
      </div>
      <div class="col-12">
        <input
          pInputText
          type="text"
          class="form-control col-12"
          id="username"
          placeholder="username"
          formControlName="username"
        />
      </div>

      <!-- password -->
      <div class="col-12">
        <label for="password" class="form-label">Password</label>
      </div>
      <div class="col-12">
        <input
          pInputText
          type="password"
          class="form-control col-12"
          id="password"
          placeholder="password"
          formControlName="password"
        />
      </div>
      <div class="col-12">
        <app-button type="submit" label="Login" [loading]="loading">
        </app-button>
      </div>
    </div>
  </form>
</div>
