<div class="m-4">
  <h2>Data Pasien</h2>
  <div class="flex justify-content-between align-items-center">
    <p>Pantau dan kelola seluruh data pasien</p>
    <app-button
      *ngIf="!isAdmin"
      label="Tambah Data Pasien"
      routerLink="/patient/create"
    >
    </app-button>
  </div>
  <div class="surface-200 w-full divider mt-2"></div>

  <div>
    <p-table
      #dt1
      [value]="patients"
      dataKey="id"
      [rows]="10"
      [paginator]="true"
      styleClass="p-datatable-gridlines"
      currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
      [showCurrentPageReport]="true"
      [globalFilterFields]="['nama', 'id']"
      scrollable="true"
    >
      <ng-template pTemplate="caption">
        <div class="flex justify-content-between">
          <span class="p-input-icon-left">
            <p-columnFilter
              type="text"
              field="nama"
              placeholder="Search by name"
              ariaLabel="Filter Name"
              showMenu="false"
            />
          </span>
        </div>
      </ng-template>

      <ng-template pTemplate="header">
        <tr>
          <th>
            <div class="flex align-items-center gap-2">No.</div>
          </th>
          <th pSortableColumn="id" width="250">
            <div class="flex align-items-center">
              No. Indeks
              <p-sortIcon field="id" />
            </div>
          </th>
          <th pSortableColumn="nama">
            <div class="flex align-items-center">
              Nama Pasien
              <p-sortIcon field="nama" />
            </div>
          </th>
          <th>
            <div class="flex align-items-center">NIK</div>
          </th>
          <th pSortableColumn="no_handphone">
            <div class="flex align-items-center">No. Handphone</div>
          </th>
          <th pSortableColumn="updatedAt">
            <div class="flex align-items-center">
              Kunjungan Terakhir
              <p-sortIcon field="updatedAt" />
            </div>
          </th>
          <th>
            <div class="flex align-items-center">Action</div>
          </th>
        </tr>
      </ng-template>

      <ng-template pTemplate="body" let-patient let-rowIndex="rowIndex">
        <tr>
          <td>{{ rowIndex + 1 }}.</td>
          <td>
            {{ patient.id }}
          </td>
          <td>
            {{ patient.nama }}
          </td>
          <td>
            {{ patient.NIK }}
          </td>
          <td>
            {{ patient.no_telp }}
          </td>
          <td>
            {{ patient.rekam_medis[0].createdAt | date : "dd/MM/yyyy" }}
          </td>
          <td>
            <p-button
              icon="pi pi-pencil"
              class="mr-2"
              [rounded]="true"
              [outlined]="true"
              severity="success"
              routerLink="/patient/detail/{{ patient.id }}"
            />
            <p-button
              *ngIf="isAdmin"
              icon="pi pi-trash"
              severity="danger"
              [rounded]="true"
              [outlined]="true"
              (onClick)="onDeleteModal(patient.id)"
            />
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="emptymessage">
        <tr>
          <td colspan="7">No customers found.</td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>

<!-- Pop Up Delete Patient -->
<p-dialog
  header="Hapus Pasien"
  [(visible)]="isModalDelete"
  [modal]="true"
  [style]="{ width: '50vw' }"
  [draggable]="false"
  [resizable]="false"
>
  <div>
    <p>Apakah anda yakin ingin menghapus Pasien ini?</p>
  </div>
  <div class="flex justify-content-end gap-3 mt-4">
    <app-button
      label="Batal Hapus"
      classBtn="p-button-secondary"
      (clickChange)="isModalDelete = false"
    >
    </app-button>
    <app-button
      label="Hapus Pasien"
      classBtn="p-button-danger"
      (clickChange)="deletePatient()"
      [loading]="loadingDelete"
    >
    </app-button>
  </div>
</p-dialog>
<!-- Pop Up Delete Patient -->
