<div class="card flex m-4">
  <p-breadcrumb class="max-w-full capitalize" [model]="items">
    <!-- <ng-template pTemplate="item" let-item>
      <ng-container *ngIf="item.routerLink === currentRoute; else elseBlock">
        <a [routerLink]="item.routerLink" class="p-menuitem-link capitalize">
          <span [ngClass]="[item.icon ? item.icon : '', 'text-color']"></span>
          <span class="text-primary font-semibold">{{ item.label }}</span>
        </a>
      </ng-container>
      <ng-template #elseBlock>
        <a [routerLink]="item.url">
          <span class="text-secondary capitalize">{{ item.label }}</span>
          <span [class]="item.icon"></span>
        </a>
      </ng-template>
    </ng-template> -->
  </p-breadcrumb>
</div>
