<div class="m-4 min-h-screen">
  <h2>Buat Data Pasien</h2>

  <!-- Form Patient Data  -->
  <div class="bg-white p-4 my-5 shadow-1 border-round-xl">
    <div class="flex flex-column gap-3">
      <h3>Identitas Pasien</h3>
      <p>Isi informasi pasien untuk disimpan kedalam data puskesmas</p>
      <div class="surface-200 w-full divider"></div>
    </div>

    <form class="grid mt-4" [formGroup]="createPatientForm">
      <div class="col-12 grid">
        <div class="flex flex-column gap-2 col-6">
          <label for="username">Nama <span class="text-red-600">*</span></label>
          <input pInputText id="username" formControlName="nama" />
        </div>
        <div class="flex flex-column gap-2 col-6">
          <label for="nik">NIK <span class="text-red-600">*</span></label>
          <input pInputText id="nik" formControlName="NIK" />
        </div>
      </div>
      <div class="col-12 grid">
        <div class="flex flex-column gap-2 col-6">
          <label for="pekerjaan"
            >Pekerjaan <span class="text-red-600">*</span></label
          >
          <input pInputText id="pekerjaan" formControlName="pekerjaan" />
        </div>
        <div class="flex flex-column gap-2 col-6">
          <label for="no_telp"
            >Nomor Handphone <span class="text-red-600">*</span></label
          >
          <input
            pInputText
            id="no_telp"
            formControlName="no_telp"
            pKeyFilter="int"
          />
        </div>
      </div>
      <div class="col-12 grid">
        <div class="flex flex-column gap-2 col-6">
          <label for="usia">Usia <span class="text-red-600">*</span></label>
          <p-inputNumber
            formControlName="usia"
            inputId="integeronly"
            id="usia"
            [useGrouping]="false"
          />
        </div>
        <div class="flex flex-column gap-2 col-6">
          <label for="agama">Agama <span class="text-red-600">*</span></label>
          <input pInputText id="agama" formControlName="agama" />
        </div>
      </div>
      <div class="col-12 flex flex-row gap-4">
        <div *ngFor="let gender of genders" class="field-checkbox">
          <p-radioButton
            [inputId]="gender.key"
            [value]="gender.key"
            formControlName="jenis_kelamin"
          />
          <label [for]="gender.key" class="ml-2">
            {{ gender.name }}
          </label>
        </div>
      </div>
      <div class="col-12">
        <label for="username">Alamat <span class="text-red-600">*</span></label>
        <textarea
          rows="3"
          class="col-12 mt-2"
          [autoResize]="false"
          pInputTextarea
          formControlName="alamat"
        ></textarea>
      </div>
    </form>
  </div>

  <div class="bg-white p-4 my-5 shadow-1 border-round-xl">
    <div class="flex flex-column gap-3">
      <h3>Detail Rekam Medis</h3>
      <p>Isi informasi rekam medis untuk disimpan kedalam data puskesmas</p>
      <div class="surface-200 w-full divider"></div>
    </div>

    <form class="grid mt-4" [formGroup]="createRemdisForm">
      <!-- Keluhan Pasien -->
      <div class="col-12 mt-3">
        <h3>Keluhan Pasien</h3>
        <div class="surface-200 w-full"></div>
      </div>
      <div class="col-12 flex flex-column gap-3">
        <label for="keluhan-utama"
          >Keluhan Utama <span class="text-red-600">*</span></label
        >
        <input pInputText id="keluhan-utama" formControlName="keluhan_utama" />
      </div>
      <div class="col-12 flex flex-column gap-3">
        <label for="riwayat-penyakit"
          >Riwayat Penyakit/Pemberian Obat
          <span class="text-gray-600">(Opsional)</span></label
        >
        <p-editor
          [style]="{ height: '220px' }"
          id="riwayat-penyakit"
          formControlName="riwayat_penyakit_obat_opsional"
        >
          <ng-template pTemplate="header">
            <span class="ql-formats">
              <select class="ql-size mr-3">
                <option value="small"></option>
                <!-- Note a missing, thus falsy value, is used to reset to default -->
                <option selected></option>
                <option value="large"></option>
                <option value="huge"></option>
              </select>
              <button type="button" class="ql-bold" aria-label="Bold"></button>
              <button
                type="button"
                class="ql-italic"
                aria-label="Italic"
              ></button>
              <button
                type="button"
                class="ql-underline"
                aria-label="Underline"
              ></button>
              <button class="ql-list ml-3" value="ordered"></button>
              <button class="ql-list" value="bullet"></button>
            </span>
          </ng-template>
        </p-editor>
      </div>
      <!-- Keluhan Pasien -->

      <!-- Diagnosis Sementara -->
      <div class="col-12 mt-3">
        <h3>Penilaian/Diagnosis Sementara</h3>
        <div class="surface-200 w-full"></div>
      </div>
      <div class="col-12 flex flex-column gap-3">
        <label for="diagnosa"
          >Diagnosa Penyakit <span class="text-red-600">*</span></label
        >
        <input pInputText id="diagnosa" formControlName="diagnosa_penyakit" />
      </div>
      <div class="col-12 flex flex-column gap-3">
        <label for="rencana-tindakan"
          >Rencana Tindakan <span class="text-gray-600">(Opsional)</span></label
        >
        <p-editor
          [style]="{ height: '220px' }"
          id="rencana-tindakan"
          formControlName="rencana_tindakan_opsional"
        >
          <ng-template pTemplate="header">
            <span class="ql-formats">
              <select class="ql-size mr-3">
                <option value="small"></option>
                <!-- Note a missing, thus falsy value, is used to reset to default -->
                <option selected></option>
                <option value="large"></option>
                <option value="huge"></option>
              </select>
              <button type="button" class="ql-bold" aria-label="Bold"></button>
              <button
                type="button"
                class="ql-italic"
                aria-label="Italic"
              ></button>
              <button
                type="button"
                class="ql-underline"
                aria-label="Underline"
              ></button>
              <button class="ql-list ml-3" value="ordered"></button>
              <button class="ql-list" value="bullet"></button>
            </span>
          </ng-template>
        </p-editor>
      </div>
      <!-- Diagnosis Sementara -->

      <!-- Pemeriksaan Fisik -->
      <div class="col-12 mt-3">
        <h3>Pemeriksaan Fisik (Opsional)</h3>
        <div class="surface-200 w-full"></div>
      </div>

      <!-- Row Pertama -->
      <div class="col-12 grid">
        <div class="flex flex-column gap-2 col-4">
          <label for="tekanan-darah">Tekanan Darah </label>
          <div class="flex w-max">
            <p-inputMask mask="999/99" formControlName="tekanan_darah" />
            <p-inputGroupAddon>/mmHg</p-inputGroupAddon>
          </div>
        </div>
        <div class="flex flex-column gap-2 col-4">
          <label for="denyut-nadi">Denyut Nadi </label>
          <p-inputGroup>
            <p-inputNumber
              inputId="integeronly"
              id="denyut-nadi"
              [useGrouping]="false"
              formControlName="denyut_nadi"
            />
            <p-inputGroupAddon>/Menit</p-inputGroupAddon>
          </p-inputGroup>
        </div>
        <div class="flex flex-column gap-2 col-4">
          <label for="pernapasan">Pernapasan </label>
          <p-inputGroup>
            <p-inputNumber
              inputId="integeronly"
              id="pernapasan"
              [useGrouping]="false"
              formControlName="pernapasan"
            />
            <p-inputGroupAddon>/Menit</p-inputGroupAddon>
          </p-inputGroup>
        </div>
      </div>
      <!-- Row Pertama -->

      <!-- Row Kedua -->
      <div class="col-12 grid">
        <div class="flex flex-column gap-2 col-4">
          <label for="suhu-tubuh">Suhu Tubuh </label>
          <p-inputGroup>
            <p-inputNumber
              inputId="integeronly"
              id="suhu-tubuh"
              [useGrouping]="false"
              formControlName="suhu_tubuh"
              mode="decimal"
              [minFractionDigits]="1"
            />
            <p-inputGroupAddon>C°</p-inputGroupAddon>
          </p-inputGroup>
        </div>
        <div class="flex flex-column gap-2 col-4">
          <label for="tinggi-badan">Tinggi Badan </label>
          <p-inputGroup>
            <p-inputNumber
              inputId="integeronly"
              id="tinggi-badan"
              [useGrouping]="false"
              formControlName="tinggi_badan"
            />
            <p-inputGroupAddon>Cm</p-inputGroupAddon>
          </p-inputGroup>
        </div>
        <div class="flex flex-column gap-2 col-4">
          <label for="berat-badan">Berat Badan </label>
          <p-inputGroup>
            <p-inputNumber
              inputId="integeronly"
              id="berat-badan"
              [useGrouping]="false"
              formControlName="berat_badan"
            />
            <p-inputGroupAddon>Kg</p-inputGroupAddon>
          </p-inputGroup>
        </div>
      </div>
      <!-- Row Kedua -->

      <!-- Row Ketiga -->
      <div class="col-12 flex flex-column gap-3">
        <label for="pemeriksaan-fisik-tambahan"
          >Pemeriksaan Fisik Tambahan
          <span class="text-gray-600">(Opsional)</span></label
        >
        <p-editor
          [style]="{ height: '220px' }"
          id="pemeriksaan-fisik-tambahan"
          formControlName="pemeriksaan_fisik_tambahan_opsional"
        >
          <ng-template pTemplate="header">
            <span class="ql-formats">
              <select class="ql-size mr-3">
                <option value="small"></option>
                <!-- Note a missing, thus falsy value, is used to reset to default -->
                <option selected></option>
                <option value="large"></option>
                <option value="huge"></option>
              </select>
              <button type="button" class="ql-bold" aria-label="Bold"></button>
              <button
                type="button"
                class="ql-italic"
                aria-label="Italic"
              ></button>
              <button
                type="button"
                class="ql-underline"
                aria-label="Underline"
              ></button>
              <button class="ql-list ml-3" value="ordered"></button>
              <button class="ql-list" value="bullet"></button>
            </span>
          </ng-template>
        </p-editor>
      </div>
      <!-- Row Ketiga -->
      <!-- Pemeriksaan Fisik -->

      <!-- Penanggung Jawab Pelayanan -->
      <div class="col-12 flex flex-column gap-3">
        <label for="penanggung-jawab"
          >Nama Dokter <span class="text-red-600">*</span></label
        >
        <input pInputText id="penanggung-jawab" formControlName="nama_dokter" />
      </div>
      <!-- Penanggung Jawab Pelayanan -->
    </form>
  </div>

  <!-- Form Rekam Medis -->

  <div class="flex gap-4 justify-content-end mt-4">
    <app-button
      label="Cancel"
      btnType="button"
      classBtn="p-button-secondary"
      (clickChange)="onCancel()"
    >
    </app-button>
    <app-button
      label="Simpan dan Pasien"
      (clickChange)="onSubmit()"
      [disabled]="!createPatientForm.valid || !createRemdisForm.valid"
    >
    </app-button>
  </div>
</div>
